* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#content {
  flex: 1;
  display: grid;
  grid-template-rows: min-content 1fr;
  background-image: url(./pexels-ella-olsson-1640777.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

ul.tabs-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 8px 16px;
}

ul.tabs-container li {
  padding: 1rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: transform ease-in 0.1s;
  user-select: none;
}

ul.tabs-container li:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

ul.tabs-container li:active {
  opacity: 1;
  transform: scale(1);
}

#page-content-container {
  width: 60%;
  margin: 10% auto;
  background-color: rgba(59, 57, 50, 0.808);
  padding: 1rem;
}

/* Home Page */

.home-page-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Menu Page */
.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.menu-container .grid-card {
  border: 5px solid white;
  padding: 1rem;
}

.menu-container .grid-card:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-container .grid-card img {
  width: 100px;
}

/* Contact Page */
.contact-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.5rem;
  gap: 1rem;
}

.contact-page-container > * {
  flex: 1;
}
