* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#content main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

main #page-content {
  width: 40%;
  padding: 2rem;
  background-color: #e6c497;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  position: relative;
}

#page-content::after {
  content: " ";
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 70px;
  background-color: #634523;
  border-radius: 50%;
  left: -50px;
  transition: all 0.2s ease-in;
}

#page-content:hover::after {
  background-color: #1a1819;
  width: 65px;
}

main #main-img {
  display: block;
  width: 60%;
  object-fit: cover;
}

.header-nav {
  position: absolute;
  right: 0;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 60%;
  background-color: #1a1819c1;
}

.header-nav button {
  color: inherit;
  background-color: transparent;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.header-nav button:hover {
  color: #634523;
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 5px;
}

.restaurant-title {
  font-size: 230%;
  color: #1a1819;
  margin-bottom: 0.4rem;
}

.restaurant-desc {
  font-size: 0.875rem;
  color: #634523;
  width: max(70%, 200px);
  margin-bottom: 1.5rem;
}

.check-menu-btn {
  background-color: #fabd2d;
  border: none;
  width: max(30%, 200px);
  padding: 1rem;
  font-weight: 700;
  color: #634523;
  cursor: pointer;
}

.check-menu-btn:hover {
  background-color: white;
}

ul.menu-item-list .menu-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  padding: 0.5rem;
}

ul.menu-item-list .menu-item:hover {
  background-color: #1a181911;
  border-radius: 10px;
}

ul.menu-item-list .menu-item .menu-item-name {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  border-bottom: 3px dotted rgba(0, 0, 0, 0.355);
  font-size: 1rem;
  margin-bottom: 8px;
}

ul.menu-item-list .menu-item .menu-item-price {
  font-size: 0.8rem;
  color: #634523;
}

ul.menu-item-list .menu-item .menu-item-price::before {
  content: "$";
}

ul.menu-item-list .menu-item .menu-item-desc {
  font-size: 0.8rem;
}
